.body-main {
    padding: 1rem;
    background-color: #121212;
    
}

.center {
    text-align: center;
    margin: auto;
    width: 600px;
    padding: 10px;
    background-color: #ffffff11;
    border-radius: 2rem;
    color: #CBD5E1;
}

.title {
    color: #CBD5E1;
    text-align: center;
    /* padding-bottom: rem; */
}


#BREAD {
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    transition: transform 150ms;
}

.breadBox:hover{
    transform: scale(1.1);
    transition: all ease 150ms;
  }

.testURMOMLMAO {
    height: 200;
    width: 500;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

#counter2 {
    color: #FBBF24;
    font-weight: bold;
    font-size: 100px;
}

#chart {
    padding: 7rem;
    padding-top: 1rem;
    padding-bottom: 0;
    font-size: large;
}



#first-prd {
    background-color: #FBBF24;
    color: #FBBF24;
}


@font-face {

    font-family: 'urmom';
    
    src: local('assets/fonts/Seven/Segment.ttf') format('ttf'),
    
    local('assets/fonts/Seven/Segment.ttf') format('ttf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }



#clock-container {
    padding-bottom: 1px;
    margin: auto;
    /* margin-right: 12rem;
    margin-left: 12rem; */
    border-radius: 2rem;
    text-align: center;
    /* background-color: #121212; */
}

#clock {
    font-family: 'Segment7Standard';
    font-size: xx-large;
    color: #FBBF24;
}

#time-left {
    padding-top: 20px;
}

.btn-on {
    --bs-bg-opacity: 1;
    background-color: #84CC16!important;
}
.btn-off {
    --bs-bg-opacity: 1;
    background-color: #ffffff3b!important;
}


.my-primary {
    --bs-bg-opacity: 1;
    background-color: rgba(147,51,234,255)!important;
}

.chart-selected {
    --bs-bg-opacity: 1;
    background-color: rgba(147,51,234,255)!important;
    font-weight: bold;
    color: #ffffff;
}

.chart-background {
    --bs-bg-opacity:1;
    background-color: #ffffff21 !important;
}

#schedule-chart {
    border-radius: 10px;
}


hr {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-right: 30rem;
    margin-left: 30rem;
    border: 0;
    border-top: 3px solid rgb(255, 255, 255);
}

.redTest {
    background-color: transparent;
    color: #FBBF24;
    font-weight: bold;
}

.lunch-classes {
    background-color: transparent;
    color: rgba(147,51,234,255);
    font-weight: bolder;
}
