.body-main {
    padding: 1rem;
    background-color: #121212;
    
}

.center {
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    width: 600px;
    padding: 10px;
    background-color: #ffffff11;
    border-radius: 2rem;
    color: #CBD5E1;
}

.title {
    color: #CBD5E1;
    text-align: center;
}


#BREAD {
    padding: 1rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    transition: transform 150ms;
}

.breadBox:hover{
    transform: scale(1.1);
    transition: all ease 150ms;
  }

.testURMOMLMAO {
    height: 200;
    width: 500;
}

.transform {
  -webkit-transition: all 2s ease;  
  -moz-transition: all 2s ease;  
  -o-transition: all 2s ease;  
  -ms-transition: all 2s ease;  
  transition: all 2s ease;
}

#counter2 {
    color: #FBBF24;
    font-weight: bold;
    font-size: 100px;
}

#chart {
    padding: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: large;
}

#mytable {
    background-color: white;
}

#first-prd {
    background-color: #FBBF24;
    color: #FBBF24;
}


@font-face {

    font-family: 'urmom';
    
    src: local('assets/fonts/Seven/Segment.ttf') format('ttf'),
    
    local('assets/fonts/Seven/Segment.ttf') format('ttf');
    
    font-weight: normal;
    
    font-style: normal;
    
    }


#clock {
    font-family: 'Segment7Standard';
}

.my-primary {
    --bs-bg-opacity:1;
    background-color:rgba(147,51,234,255)!important;
}