@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.body-main {
  /* padding: 1rem; */
  /* background-color: #121212; */
  /* background-image: linear-gradient(to bottom right, #C026D3, #2563EB); */
  background-image: url("assets/background.png");
  /* background-color: #ffffff; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-size: cover;
}
.dumby {
  padding-top: 45%;
  font-size: x-small;
}

.center {
  text-align: center;
  margin: auto;
  width: 600px;
  padding: 10px;
  /* background-image: linear-gradient(to bottom right, #C026D3, #2563EB); */
  /* background-color: #ffffff11; */
  border-radius: 0.75rem;
  color: #464646;
  /* background-color: #121212; */
  background-color: rgba(250, 250, 250, 0.61);
  /* box-shadow: 10px 10px 5px  rgba(255, 255, 255, 0.103); */
  backdrop-filter: blur(5px);
}

.sub-container {
  text-align: center;
  margin: auto; /* Centers div */
  border-radius: 0.75rem;
  background-color: #ffffff2d;
  /* width:fit-content;  #ffffff3a
    height:fit-content;  Makes the dive fit to the text inside */
  padding: 1rem;

  margin: 2rem;
  margin-top: 0;

  backdrop-filter: blur(5px);
}

.sub-container-2 {
  text-align: center;
  margin: auto; /* Centers div */
  border-radius: 1.5rem;
  background-color: #3f3f46;
  color: #ffffffc2;
  /* width:fit-content;  #ffffff3a
    height:fit-content;  Makes the dive fit to the text inside */
  padding: 1rem;

  margin: 2rem;
  margin-top: 20px;

  backdrop-filter: blur(5px);
}
.sub-title {
  color: #000000be;
  font-weight: bold;
  font-size: xx-large;
  letter-spacing: 1px;
}
.sub-title-small {
  color: #000000be;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
}

.title {
  color: #f8fafc;
  text-align: center;
  font-size: 50px;
  margin-bottom: 1rem;
  margin-top: 20px;
  /* padding-bottom: rem; */
}

.shop {
    margin-top: 25%;
}

.shop-items {
    padding-top: 5%;
    margin: 10px;
}

#BREAD {
  padding: 1rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  transition: transform 150ms;
}

.breadBox:hover {
  transform: scale(1.1);
  transition: all ease 150ms;
}

.testURMOMLMAO {
  height: 200;
  width: 500;
}

.transform {
  -webkit-transition: all 2s ease;
  -moz-transition: all 2s ease;
  -o-transition: all 2s ease;
  -ms-transition: all 2s ease;
  transition: all 2s ease;
}

#counter2 {
  color: #fbbf24;
  font-weight: bold;
  font-size: 100px;
}

#chart {
  padding: 7rem;
  padding-top: 1rem;
  padding-bottom: 0;
  font-size: large;
}

#first-prd {
  background-color: #fbbf24;
  color: #fbbf24;
}

@font-face {
  font-family: "urmom";

  src: local("assets/fonts/Seven/Segment.ttf") format("ttf"),
    local("assets/fonts/Seven/Segment.ttf") format("ttf");

  font-weight: normal;

  font-style: normal;
}

#clock-container {
  padding-bottom: 1px;
  margin: auto;
  /* margin-right: 12rem;
    margin-left: 12rem; */
  border-radius: 2rem;
  text-align: center;
  /* background-color: #121212; */
}

#clock {
  font-family: "Segment7Standard";
  font-size: xx-large;
  color: #fbbf24;
}

#time-left {
  padding-top: 20px;
}

.btn-on {
  --bs-bg-opacity: 1;
  background-color: #84cc16 !important;
}
.btn-off {
  --bs-bg-opacity: 1;
  background-color: #ffffff3b !important;
}

.my-primary {
  --bs-bg-opacity: 1;
  background-color: #f792f4 !important;
}

.chart-selected {
  --bs-bg-opacity: 1;
  background-color: #7e22ce !important;
  font-weight: bold;
  color: #ffffff !important;
  /* background-image: linear-gradient(to bottom right, #84CC16, #14B8A6); */
  /* background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent; */
}

.chart-background {
  --bs-bg-opacity: 1;
  background-color: #ffffff21 !important;
}
.chart-background-title {
  --bs-bg-opacity: 1;
  background-color: #3f3f46 !important;
}

#schedule-chart {
  border-radius: 10px;
}

hr {
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-right: 20%;
  margin-left: 20%;
  border: 0;
  border-top: 3px solid rgb(255, 255, 255);
}

.redTest {
  background-color: transparent;
  color: #fbbf24;
  font-weight: bold;
}

.lunch-classes {
  background-color: transparent;
  color: #f3f4f6;
  font-weight: bolder;
}

#full-center-split {
  border: 0;
  margin: 0;
  margin-top: 5px;
  padding: 0px;
  margin-left: 20%;
  margin-right: 20%;
  border-top: 3px solid #000000;
}
